## Import Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Set the size of te graphs

In [2]:
plt.rcParams["figure.figsize"] = (15,6)

## Import the data frame

In [11]:
path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"

In [12]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [13]:
df = pd.read_csv(path, names = headers)

In [14]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [15]:
df.dtypes.to_frame

<bound method Series.to_frame of symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object>

In [17]:
df["price"].isnull().values.any()

False

## Cleaning of the data frame

In [20]:
missing_data = df.isnull()
missing_data.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [21]:
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

symboling
False    205
Name: symboling, dtype: int64

normalized-losses
False    205
Name: normalized-losses, dtype: int64

make
False    205
Name: make, dtype: int64

fuel-type
False    205
Name: fuel-type, dtype: int64

aspiration
False    205
Name: aspiration, dtype: int64

num-of-doors
False    205
Name: num-of-doors, dtype: int64

body-style
False    205
Name: body-style, dtype: int64

drive-wheels
False    205
Name: drive-wheels, dtype: int64

engine-location
False    205
Name: engine-location, dtype: int64

wheel-base
False    205
Name: wheel-base, dtype: int64

length
False    205
Name: length, dtype: int64

width
False    205
Name: width, dtype: int64

height
False    205
Name: height, dtype: int64

curb-weight
False    205
Name: curb-weight, dtype: int64

engine-type
False    205
Name: engine-type, dtype: int64

num-of-cylinders
False    205
Name: num-of-cylinders, dtype: int64

engine-size
False    205
Name: engine-size, dtype: int64

fuel-system
False    205
Name: fuel-system, dtype: int64

bore
False    205
Name: bore, dtype: int64

stroke
False    205
Name: stroke, dtype: int64

compression-ratio
False    205
Name: compression-ratio, dtype: int64

horsepower
False    205
Name: horsepower, dtype: int64

peak-rpm
False    205
Name: peak-rpm, dtype: int64

city-mpg
False    205
Name: city-mpg, dtype: int64

highway-mpg
False    205
Name: highway-mpg, dtype: int64

price
False    205
Name: price, dtype: int64

In [22]:
df.replace("?", np.nan, inplace=True)

In [31]:
df[["highway-mpg", "price"]].isnull().value_counts()

highway-mpg  price
False        False    205
dtype: int64

Calculate the price average and insert into nan

In [29]:
avg_price = df["price"].astype(float).mean()

In [30]:
df["price"].replace(np.nan, avg_price, inplace = True)

## Save the data frame

In [36]:
df.to_csv("cleaned_data_frame.csv")

## Creating the model

In [32]:
from sklearn.linear_model import LinearRegression

## Calculate the liniar model - Liniar Regression line

In [33]:
lm=LinearRegression()
X = df[['highway-mpg']]
Y = df['price']
lm.fit(X, Y)  # we first train the model
Yhat=lm.predict(X)

In [34]:
Yhat

array([16166.94140528, 16166.94140528, 16955.96802513, 13799.86154571,
       20112.07450456, 17744.99464499, 17744.99464499, 17744.99464499,
       21690.12774427, 20112.07450456, 14588.88816557, 14588.88816557,
       15377.91478542, 15377.91478542, 17744.99464499, 20112.07450456,
       20112.07450456, 21690.12774427, -4347.75071097,  3542.51548759,
        3542.51548759,  5120.5687273 ,  7487.64858686, 13799.86154571,
        7487.64858686,  7487.64858686,  7487.64858686, 13799.86154571,
       13799.86154571, 18534.02126485, -5136.77733083,  7487.64858686,
        4331.54210744, 10643.75506629, 10643.75506629, 10643.75506629,
       10643.75506629, 11432.78168614, 11432.78168614, 11432.78168614,
       11432.78168614, 15377.91478542, 13010.83492586, 14588.88816557,
        3542.51548759,  3542.51548759, 14588.88816557, 22479.15436412,
       22479.15436412, 24057.20760384, 13010.83492586,  7487.64858686,
        7487.64858686,  7487.64858686,  7487.64858686, 19323.0478847 ,
       19323.0478847 , 19323.0478847 , 19323.0478847 , 12221.808306  ,
       12221.808306  , 12221.808306  , 12221.808306  ,  4331.54210744,
       12221.808306  , 16166.94140528,  6698.62196701, 17744.99464499,
       17744.99464499, 17744.99464499, 17744.99464499, 23268.18098398,
       23268.18098398, 24846.23422369, 24846.23422369, 18534.02126485,
        5120.5687273 ,  7487.64858686,  7487.64858686, 13799.86154571,
       13799.86154571, 12221.808306  , 18534.02126485, 18534.02126485,
       18534.02126485, 12221.808306  , 12221.808306  , 13799.86154571,
       13799.86154571,  8276.67520672, -1980.6708514 ,  8276.67520672,
        8276.67520672,  8276.67520672,  8276.67520672,  8276.67520672,
        8276.67520672,  8276.67520672,  8276.67520672, 10643.75506629,
       10643.75506629, 20112.07450456, 20112.07450456, 17744.99464499,
       17744.99464499, 19323.0478847 , 17744.99464499, 18534.02126485,
       11432.78168614, 18534.02126485, 17744.99464499, 18534.02126485,
       11432.78168614, 18534.02126485, 17744.99464499, 18534.02126485,
       11432.78168614, 18534.02126485,  5120.5687273 , 13799.86154571,
        7487.64858686,  7487.64858686,  7487.64858686, 13799.86154571,
       18534.02126485, 16166.94140528, 17744.99464499, 17744.99464499,
       17744.99464499, 15377.91478542, 13010.83492586, 13010.83492586,
       15377.91478542, 15377.91478542, 15377.91478542, 15377.91478542,
       16955.96802513, 16955.96802513,  9065.70182658, 13010.83492586,
       13010.83492586,  8276.67520672, 11432.78168614, 12221.808306  ,
       17744.99464499, 14588.88816557, 12221.808306  , 13010.83492586,
       14588.88816557, 19323.0478847 ,  6698.62196701,  7487.64858686,
        7487.64858686,  8276.67520672, 12221.808306  , 12221.808306  ,
        8276.67520672,  8276.67520672,  9065.70182658,   386.40900816,
         386.40900816, 10643.75506629, 10643.75506629, 10643.75506629,
       10643.75506629, 14588.88816557, 14588.88816557, 13799.86154571,
       13799.86154571, 13799.86154571, 13799.86154571, 13799.86154571,
       13799.86154571, 10643.75506629, 11432.78168614, 12221.808306  ,
       12221.808306  , 12221.808306  , 18534.02126485, 18534.02126485,
       18534.02126485, 18534.02126485,  1175.43562802, 10643.75506629,
        1175.43562802, 10643.75506629, 10643.75506629,  4331.54210744,
       12221.808306  , 14588.88816557, 14588.88816557, 18534.02126485,
        7487.64858686, 13010.83492586, 15377.91478542, 15377.91478542,
       15377.91478542, 15377.91478542, 20112.07450456, 20112.07450456,
       15377.91478542, 17744.99464499, 19323.0478847 , 16166.94140528,
       17744.99464499])

## Calculate R^2

In [38]:
lm = LinearRegression()
X = df[['highway-mpg']]
Y = df['price']
lm.fit(X, Y)
out=lm.score(X,Y)

In [39]:
out

0.47682578947968457

In [40]:
dummy_var = pd.get_dummies(df["fuel-type"])
dummy_var

     diesel  gas
0         0    1
1         0    1
2         0    1
3         0    1
4         0    1
..      ...  ...
200       0    1
201       0    1
202       0    1
203       1    0
204       0    1

[205 rows x 2 columns]

In [43]:
dummy_var.rename(columns = {'gas':'fuel-type-gas', 'diesel':'fuel-type-diesel'}, inplace = True)
dummy_var

     fuel-type-diesel  fuel-type-gas
0                   0              1
1                   0              1
2                   0              1
3                   0              1
4                   0              1
..                ...            ...
200                 0              1
201                 0              1
202                 0              1
203                 1              0
204                 0              1

[205 rows x 2 columns]

In [49]:
df = pd.concat([df, dummy_var], axis =1)
df.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,fuel-type-diesel,fuel-type-gas
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111,5000,21,27,13495,0,1
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111,5000,21,27,16500,0,1
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,2.68,3.47,9.0,154,5000,19,26,16500,0,1
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,3.19,3.40,10.0,102,5500,24,30,13950,0,1
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,3.19,3.40,8.0,115,5500,18,22,17450,0,1

In [50]:
df.to_csv("cleaned_data_frame_dummies.csv")

In [52]:
dummy_var_2 = pd.get_dummies(df["aspiration"])
dummy_var_2

     std  turbo
0      1      0
1      1      0
2      1      0
3      1      0
4      1      0
..   ...    ...
200    1      0
201    0      1
202    1      0
203    0      1
204    0      1

[205 rows x 2 columns]

In [53]:
dummy_var_2.rename(columns= {"std":"aspiration-std", "turbo":"aspiration-turbo"}, inplace = True)

In [54]:
df = pd.concat([df, dummy_var_2], axis =1)
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,fuel-type-diesel,fuel-type-gas,aspiration-std,aspiration-turbo
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,9.0,111,5000,21,27,13495,0,1,1,0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,9.0,111,5000,21,27,16500,0,1,1,0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,9.0,154,5000,19,26,16500,0,1,1,0
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,10.0,102,5500,24,30,13950,0,1,1,0
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,8.0,115,5500,18,22,17450,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,9.5,114,5400,23,28,16845,0,1,1,0
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,8.7,160,5300,19,25,19045,0,1,0,1
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,8.8,134,5500,18,23,21485,0,1,1,0
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,23.0,106,4800,26,27,22470,1,0,0,1
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,9.5,114,5400,19,25,22625,0,1,0,1

In [55]:
df.to_csv("cleaned_data_frame_dummies.csv")